<div class="contentList" [ngStyle]="{'margin': '30px '  }">

    <div>
            <h2>{{content.title}}</h2>
            <p>{{content.description}}</p>
            <p>Creator: {{content.creator}}</p>
            <img  *ngIf="content.imgURL; else defaultImage" (click)="clickEvent()" src='{{content.imgURL}}'>
            <ng-template #defaultImage>
            <img src="assets/img/Burj.jpg">
            </ng-template>
           
            <p *ngIf="content.type" appHoverAffect [affectStyle]="'underline'" ></p> > Type: {{content.type}}</p>
            <p *ngIf="content.tags && content.tags.length > 0" appHoverAffect [affectStyle]="'bold'"> Tag: {{content.tags}}</p>
    </div>
</div>