<app-create-content (contentAdded)="receiveNewContent($event)"></app-create-content>
<h1 style="background-color: rgb(217, 228, 13); text-align: center;">Favourite Places</h1>
<div id="filter">
<input [(ngModel)]="findTitle"><button (click)="findContent()">Search</button>
<br>
<p [style.color]="isContentFound ? 'green' : 'red'">{{ searchResult  }}</p>
</div>
<div id="none">
<h1>No Type</h1>
<app-content-card class="none" *ngFor="let item of (contentList | contentFilter :'' )" [content]="item"  [ngClass]="{'highlight': item.title === findTitle && filterResult}" >
</app-content-card>
</div>

<div  id ="Historical" >
<h1>History</h1>
<app-content-card  *ngFor="let item of (contentList | contentFilter :'Historical' )" [content]="item" [ngClass]="{'highlight': item.title === findTitle && filterResult}" >
</app-content-card>
</div>

<div id ="touristAttrcation">
<h1>Attrcation</h1>
<app-content-card  *ngFor="let item of (contentList | contentFilter :'Tourist Attrcation' )" [content]="item" [ngClass]="{'highlight': item.title === findTitle && filterResult}">
</app-content-card>
</div>