/* .contentList h1{
    text-align: center;
    color: rgb(200, 38, 10);
    height: 50px;
}

div{
    background-color: antiquewhite;
}
 */
 #none {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color: rgb(115, 129, 5);
    margin-top: 20px;
 }
 
 #touristAttraction {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(219, 186, 95);
    margin-top: 20px;
   
 }
 
 #Historical {
    font-size: 16px;
    color: rgb(165, 57, 129);
    margin-top: 20px;
    
 }
 input {width: 60%; height: 30px;}
 button{width: 30%; height: 35px;
     font-size: 18px;}
 
 .highlight {
        
         background-color: rgb(255, 128, 0);
         color:rgb(0, 255, 55);
         font-family: Georgia, 'Times New Roman', Times, serif;
         font-size: 30px;
         font-weight: bold;
       }