<div>
    <div *ngFor="let content of contentList; let isFirst = first"
         [style.border]="isFirst ? '2px solid black' : '1px solid black'"
         [style.padding]="isFirst ? '10px' : '5px'"
         [style.margin-bottom]="'10px'">
      <h2>{{ content.title }}</h2>
      <img *ngIf="content.image" [src]="content.image" (click)="showContentDetails(content)">
      <p *ngIf="content.description">{{ content.description }}</p>
      <p>Creator: {{ content.creator }}</p>
      <p *ngIf="content.type">Type: {{ content.type }}</p>
      <p *ngIf="content.tags && content.tags.length > 0">Tags: {{ content.tags.join(', ') }}</p>
    </div>
  </div>
  